body {
	/* background-color: #ecbef2; */
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
	text-align: center;
}

.avatar {
	width: 300px;
}

.header__title {
	font-size: 28px;
}

.header__subtitle {
	color: #c521f3;
}

main {
	border: 1px solid darkmagenta;
	text-align: center;
}

.skills ul{
	list-style: none;
}

.separator {
	width: 50%;
	height: 3px;
	background-color: #c521f3;
}

.video{
	width: 600px;
	height: 350px;
	border: none;
}

.ed__table{
	border-collapse: collapse;
	width: 100%;
}

.ed__table th, .ed__table td{
	border: 1px solid black;
	padding: 10px;
}

.quote{
	font-size: 32px;
}

.form__control{
width: 100%;
}

.form{
	width: 600px;
	margin: 0 auto;
}

.control-text{
	width: 70%;
}

.form_submit {
	display: block;
		margin: 0 auto;
}

footer{
	height: 100px;
	text-align: center;
	background-color: #f1f1f1;
}

.contact_links{
	text-decoration: none;
}